<div class="container-fluid mt-5 service-style" id="loginid">
    <div class="row">
        <div class="col md-10 col mx-12 mx-auto">
            <h1 class="text-center main-heading">Login</h1>
            <p class="text-center sub-heading">Please enter your Details to Login Into Your Own Page</p>
            <div class="Contactrow">
                <div class="col-md-4">

                    <form action="/secret" method="post">

                        <div class="form-group">
                            <label for="exampleInputEmail">Email:</label>
                            <input type="text" class="form-control" name="Email" id="email" aria-describedby="emailHelp"
                                placeholder="Enter Your Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail">Password</label>
                            <input type="password" class="form-control" name="password" id="password" aria-describedby="emailHelp"
                                placeholder="Enter Your Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-style">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>