<div class="container-fluid mt-5 service-style" id="serviceid">
    <div class="row">
        <div class="col md-10 col mx-12 mx-auto">
            <h1 class="text-center main-heading">Services</h1>
            <p class="text-center sub-heading">Providing the Best Servies For Your Business</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icons">
                                <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, corrupti?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icons">
                                <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Speedup</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, corrupti?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icons">
                                <img src="http://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Privacy</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, corrupti?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backup">
                            <div class="icons">
                                <img src="http://i.imgur.com/vdH9LKi.png" alt="">
                            </div>
                            <h4>Backup</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, corrupti?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icons">
                                <img src="http://i.imgur.com/v6OnUqu.png" alt="">
                            </div>
                            <h4>ssl</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, corrupti?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icons">
                                <img src="http://i.imgur.com/VzjZw9M.png" alt="">
                            </div>
                            <h4>Database</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, corrupti?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>